
.menu {
  position: absolute;
  right: 15px;
  top: 15px;

  &.open {
    border-width: 0;
    text-align: right;
  }

  label, input, select {
    display: inline-block;
  }

  label, input, select {
    margin-left: 5px;
  }

}
