h1 {
  display: none;
}

.game-state {
  display: flex;
  gap: 20px;
}

fieldset.game {
  border-width: var(--border-width);
  height: 99vh;
  width: 99vw;
  margin: 0.5vh 0.5vw;
  padding: 0.5vh 0.5vw;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;

  > legend {
    width: 100%;
    .game-state {
      display: flex;
      gap: 20px;
    }
  }
}
