h1 {
  display: none;
}

.game-state {
  display: flex;
  gap: 20px;
}

fieldset.game {
  border-width: var(--border-width);
  height: calc(100vh - 2rem);
  width: calc(100vw - 2rem);
  margin: 1rem;
  padding: 1rem;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;

  > legend {
    width: 100%;
    .game-state {
      display: flex;
      gap: 20px;
    }
  }
}
