/*
the w/h calculations here work out to lay things out based on # of tiles (sibling count)
this was calculated manually, it's a static list, other values don't fit.

rows = sqrt( $total / $ratio ), and  cols = $rows * $ratio ;  2px is the gutter.

the three in use work out to:  total=r/c ; 6=3x2 ; 24=6x4 ; 60=10x6
these are also possible - 40=8x5; (prohibitively difficult) 104=13x8; 160=16x10
i thoght 24 -> 40 was too small a gap, so went with 60 instead.

in practice these values work out to 100% / 6  or 100% / 4  (for 6x4)
the font-sizes will take around half the height's value (works out pretty close)

baed on a given orientation, flip the h/w properties
*/

.game .card {
  @media (orientation: portrait) {
    width: calc(100% / round(sqrt(sibling-count() / 1.618)) - 2px);
    height: calc(100% / round(sqrt(sibling-count() / 1.618) * 1.618) - 2px);
    font-size: calc(50vh / round(sqrt(sibling-count() / 1.618) * 1.618) - 10vh);
  }
  @media (orientation: landscape) {
    width: calc(100% / round(sqrt(sibling-count() / 1.618) * 1.618) - 2px);
    height: calc(100% / round(sqrt(sibling-count() / 1.618)) - 2px);
    font-size: calc(50vh / round(sqrt(sibling-count() / 1.618)) - 10vh);
  }
}

.help .card {
  width: 175px;
  height: 175px;
  font-size: 125px;
}

.card {
  position: relative;
  user-select: none;
  border: var(--border-width) solid var(--global-color-primary);
  cursor: pointer;
  line-height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: repeating-linear-gradient(
    45deg,
    var(--light-stripe),
    var(--light-stripe) 5%,
    var(--dark-stripe) 5%,
    var(--dark-stripe) 10%
  );

  &.offset {
    background: repeating-linear-gradient(
      45deg,
      var(--dark-stripe),
      var(--dark-stripe) 5%,
      var(--light-stripe) 5%,
      var(--light-stripe) 10%
    );
  }
}

.card::after {
  content: attr(data-emoji) attr(data-failures);
  align-content: center;
  text-align: center;
  border: inherit;
  backface-visibility: inherit;
  transform: rotateY(180deg);

  /*
    this is a little hacky ; there's two elements here, the button & it's after pseudo element
    they should both be the same size exactly, and only 1 is visible at the same time, swap one in for the other using transforms
    problem is , ::after is the child of the button, and absolute positioning is based on the padding-box (doesn't include border)
    so, if both are showing a border, when it swaps out, the :after appears -Npx off, based on size of the parent's border
    to fix that, apply negative positioning to the element, same size as the border. this has the side effect of pulling borders too
    it winds up slightly "off" , less than it should be.  reset the box-sizing of the pseudo element back to content-box so it doesn't do that
    setting border-box is part of reset stylesheet... this may be the first case I've seen where content-box actually makes sense.
    anyway, this makes the two of the line up exactly, height/width & borders.
  */
  position: absolute;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  top: calc(var(--border-width) * -1);
  right: calc(var(--border-width) * -1);
  bottom: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
}

.success,
.success:after {
  border-color: green;
}

.failure,
.failure:after {
  border-color: red;
}
