.tabList {
  padding: 1em;

  [role='tablist'] {
    margin-bottom: -1px;
  }

  [role='tab'] {
    position: relative;
    z-index: 1;
    background: white;
    border-radius: 5px 5px 0 0;
    border: 1px solid grey;
    border-bottom: 0;
    padding: 0.2em;
  }

  [role='tab'][aria-selected='true'] {
    z-index: 3;
    border-top-width: 4px;
  }

  [role='tabpanel'] {
    position: relative;
    padding: 0 0.5em 0.5em 0.7em;
    border: 1px solid grey;
    border-radius: 0 0 5px 5px;
    background: white;
    z-index: 2;
  }

  [role='tabpanel']:focus {
    border-color: #356fb3;
    outline: 1px solid #356fb3;
  }
}
